header{
    position: absolute;
    background-color: #4b4f55;
    opacity: 0.8;
    width: 100%;
    display:flex;
    flex-direction: row;
}
    #logo{
        width:150px;
        display:flex;
            
    }
    nav{
        display:flex;
        flex-direction:row;
        font-size: 1.5rem
    }
    
        #navItems {
            display:flex;
            align-items: center;
            justify-content: right;
            gap:.3rem 1rem
        }   
            #navItems a{
                
                color: inherit;
            }
            #navItems a:hover{
                color:rgb(204, 173, 0);
                font-weight: bolder;
            }