.background-main{
    background: url(./src/assets/pattern_paint_white_11zon.webp);
    height: 100vh;
    width: 100%;
    color: black;
}

#products{
    width:100%;
    height:30%;
    padding-left: 15%;
    padding-right: 15%;
}
.product{
    background-color: rgba(167, 185, 224, 0.671);
    border-radius: 10px;
    margin: 10px;
    height:100%;
    width: 100%;
    clear:both;
}.product figure{
    height: 90%;
    width: 30%;
    float:left;
}.product img{
    height: 20vh;
}.product p{
    width: 30%;
    float:left;
    text-align: left;
}