#history{
    padding-top:10vh;
    background-image: url("../assets/77788633_2000x883_S-1024x452-1024x452.jpg");
    background-repeat:  no-repeat;
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
}