html,*, ::after, ::before{margin:0; padding: 0; box-sizing: border-box;}img{max-width:100%;}a{text-decoration: none;}

body{
  width: 100%;
  height: 100vh;
  background-color: rgb(96, 148, 172);
  text-align: center;
  color: white;
}

